#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(220, 236, 245);
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/**************************************/
.buttonDelete {
  background-color: #ff5c5c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 30px;
  margin-right: 30px;
}

.buttonDelete:hover {
  background-color: #e05252;
}

.buttonSave {
  background-color: rgb(38, 65, 65);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonSave:hover {
  background-color: rgb(45, 90, 90);
}

li {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check {
  margin-left: 20px;
  margin-right: 20px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido-container {
  margin-top: 20px;
}

.buttonEdit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.buttonEdit:hover {
  background-color: #45a049;
}

.loguillo {
  height: 200px;
  margin-right: 10px;
}

.header-container {
  display: flex;
  align-items: center;
}

article {
  flex-grow: 1;
}

h1 {
  margin: 0;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
